.titulo{
    font-size: 50px;
    font-family: "Roboto";
    padding: 0%;
    margin-top: 20px;
    margin-left: 20px;
}

h2 {
    color: rgb(122, 123, 122);
    font-family: "roboto";
}

h3{
    color: #ffffff;
    font-family: "roboto";
    font-size: 25px;
}

input#buscador{
    background-color: #ffffff;
    margin-left: 15px;
    color: #7bb4d4;
    font-family: "roboto";
    font-weight: bold;
    font-size: 20px;
    border: none;
}

#buscador input{
    color: #7bb4d4;
    font-family: "Roboto";
    font-weight: bold;
    font-size: 20px;   
}

input#buscador::placeholder {
    color: #7bb4d4;   
}

.contenedorBuscador{
    display: flex;
    align-items: center;   
}

nav{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}

.imagen{
    height: 50px;
    width: 50px;
}

h1 {
    color: rgb(255, 255, 255);
    font-family: "roboto";
    font-weight: bold;
    text-align: center;
    
}

#paises {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

body{
    background-color: #7bb4d4;
}
.contenedorPaises {
    width: 400px;
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    text-align: center;
    align-items: center;
    padding-bottom: 15px;
    border: solid;
    border-color: rgb(212, 221, 252);
    margin-bottom: 20px;
}

img {
    width: 200px;
    height: 100px;
    margin-bottom: 20px;
    filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.3));
}

button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-family: "roboto";
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border: 2px solid rgb(212, 218, 252);
    border-radius: 5px;
    color: rgb(238, 243, 238);
    background-color: #9a74ee;
}

button:hover{
    color: #ffffff;
    background-color: #7bb4d4;
}

label.filtro{
    color: #fffdfd;
    font-family: "roboto";
    font-weight: bold;
    font-size: 25px;
    
    
}
select#filtroContinente{
    font-size: 20px;
    font-family: "roboto";
    background-color: rgb(255, 255, 255);
    color: #7bb4d4;
    font-weight: bold;
    border: none;
    margin-left: 10px;
}

.favoritos{
    color: #fafafa;
    background-color: aqua;
    display: flex;
}

.botonRemover{
    margin-left: 10px;
    display: inline-block;
    padding: 2px 7px;
    font-size: 11px;
    font-family: "roboto";
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    color: rgb(243, 238, 238);
    background-color: #f55252;
}

.botonRemover:hover{
    background-color: #fafafa;
    color: #f55252;
}
.favorito {
    display: flex;
    cursor: pointer;
    padding: 5px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    background-color: #9a74ee;
}

.favorito:hover {
    background-color: #2a79b9;
    color: #ffffff;;
}

.favorito-nombre{
    color: #f0f0f0;
    font-family: "roboto";
    font-weight: bold;
    text-align: center;
}

.favorito-nombre:hover{
    color: #ffffff;;
}

#favoritos{
    display: flex;
        align-items: center;
        margin-bottom: 10px;
    }
